@font-face {
  font-family: Helvetica Neue;
  src: url(./Assets/Fonts/HelveticaNeue.ttf);
}

:root{

--ap-navbar-color: #121212;
--ap-navbar-text-color: #d0d0d0;
--ap-navbar-text-color-hover: #FFF;

--ap-color-050: #f5f5f7;
--ap-color-100: #2997ff;
--ap-color-200: #1d1d1f;
--ap-color-extra: #ed1d0a;


--ap-primary-font: Helvetica Neue, Arial, Questrial, sans-serif;


--ap-size-text-navbar: 12px;
--ap-size-text-navbar-responsive: 28px;

--ap-font-weight-400: 400;
--ap-font-weight-600: 600;


--ap-h2-fontsize-desktop: 3.3em;
--ap-h3-fontsize-desktop: 1.7em;
--ap-h4-fontsize-desktop: 2em;
--ap-h5-fontsize-desktop: 1.15em;
--ap-a-fontsize-main-sections: 1.3em;
--ap-a-fontsize-promo-sections: 1em;

--ap-cta-gap-main-sections: 2em;


--ap-h2-fontsize-mobile: 2em;
--ap-h3-fontsize-mobile: 1.2em;
--ap-h4-fontsize-mobile: 1.3em;
--ap-a-fontsize-main-sections-mobile: 1.1em;

--ap-cta-gap-main-sections-mobile: .8em;





}




/* Global Styles */

html {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--ap-primary-font);
}

a{  
  text-decoration: none;
  font-family: var(--ap-primary-font);
  color: var(--ap-color-100);
}

a:hover{  
  text-decoration: underline;
}

.enlace{
  gap: .4em;
}

li {
    list-style-type: none;
}

/* End Global Styles */


/* Layout */
.ap-layout-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ap-layout-grid {
    display: grid;
  }
  /* End Layout */


  /* Header */

  header{
    background-color: var(--ap-navbar-color);
    margin: 0 auto;
    min-width: 100vw; 
    position: fixed; 
    z-index: 2;   
  }

  header a {
    color: var(--ap-navbar-text-color);
    font-family: var(--ap-primary-font);
    font-size: var(--ap-size-text-navbar);
    font-weight: var(--ap-font-weight-400);
    line-height: 1;
    white-space: nowrap;
    letter-spacing: -.01em;

    
  }

  header a:hover {
    color: var(--ap-navbar-text-color-hover);
    text-decoration: none;
  }

  header svg {
    fill: currentColor;
  }

  .ap-header-layout,
  .ap-header-nav-ul{
    gap: 44px;                   /*Tricky adjust desktop version*/
  }

  .ap-header-nav-ul{
    padding-bottom: 3px;
  }

  .ap-header-nav{
    background-color: var(--ap-navbar-color);
  }  


  .ap-hamburger-label,
  .ap-hamburger {
    display: none;
  }

  .mobile {
    display: none;
  }




/* Hamburger lines */

.hamburger-lines {    
    height: 9px;
    width: 17px;
    position: absolute;
    top: 17px;
    right: 18px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .hamburger-lines .line {
    display: block;
    height: 1.2px;
    width: 100%;
    border-radius: 3px;
    background: var(--ap-navbar-text-color);
  }

  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }


  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
    top: 3px;
    position: relative;
  }
 


/* End hamburger lines */
/* End Header */



/* Iphone 14 Pro*/

.ap-iphone-14-pro{
  height: 46em;
  overflow: hidden;
}

.ap-iphone-14-pro-banner{
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900448/Apple%C2%B4s%20homepage%20project/iphone_14_pro_fo2per.webp);
  background-size: cover;
  height: 100%;
  background-position: center;
  align-items: flex-start;
}

.ap-iphone-14-pro-information{
  flex-direction: column;
  margin-top: 6.3em;
  gap: .4em;
}

.ap-iphone-14-pro-information h2{
  color: var(--ap-color-050);
}

.ap-iphone-14-pro-information h3{
  color: var(--ap-color-050);
}

.ap-iphone-14-pro-information h2{
  font-weight: var(--ap-font-weight-600);
  font-size: var(--ap-h2-fontsize-desktop);
}

.ap-iphone-14-pro-information h3{
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-h3-fontsize-desktop);
}

.ap-iphone-14-pro-information a{
  color: var(--ap-color-100);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-a-fontsize-main-sections);
}

.ap-iphone-ctas{
  gap: var(--ap-cta-gap-main-sections);
}

.ap-iphone-ctas svg{
  fill: var(--ap-color-100);
}



/* End Iphone 14 Pro*/


/* Iphone 14 */

.ap-iphone-14{
  height: 44em;
  overflow: hidden;
}

.ap-iphone-14-banner{
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900448/Apple%C2%B4s%20homepage%20project/iphone_14_grm8sf.webp);
  align-items: flex-start;
  background-size: cover;
  height: 100%;
  background-position: center;
}

.ap-iphone-14-information{
  flex-direction: column;
  margin-top: 3em;
  gap: .4em;
}

.ap-iphone-14-information h2{
  color: var(--ap-color-200);
}

.ap-iphone-14-information h3{
  color: var(--ap-color-200);
}

.ap-iphone-14-information h2{
  font-weight: var(--ap-font-weight-600);
  font-size: var(--ap-h2-fontsize-desktop);
}

.ap-iphone-14-information h3{
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-h3-fontsize-desktop);
}

.ap-iphone-14-information a{
  color: var(--ap-color-100);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-a-fontsize-main-sections);
}

.ap-iphone-ctas{
  gap: var(--ap-cta-gap-main-sections);
}

.ap-iphone-ctas svg{
  fill: var(--ap-color-100);
}


/* End Iphone 14 */

/* HomePod */

.ap-homepod{
  height: 44em;
  overflow: hidden;
  margin-top: .7em;
}

.ap-homepod-banner{
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900448/Apple%C2%B4s%20homepage%20project/homepod_i29k2a.webp);
  background-size: cover;
  height: 100%;
  background-position: center;
  align-items: flex-start;
}

.ap-homepod-information{
  flex-direction: column;
  margin-top: 4.6em;
  gap: .4em;
}

.ap-homepod-information h2{
  color: var(--ap-color-050);
}

.ap-homepod-information h3{
  color: var(--ap-color-050);
}

.ap-homepod-information h2{
  font-weight: var(--ap-font-weight-600);
  font-size: var(--ap-h2-fontsize-desktop);
}

.ap-homepod-information h3{
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-h3-fontsize-desktop);
}

.ap-homepod-information a{
  color: var(--ap-color-100);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-a-fontsize-main-sections);
}

.ap-homepod-ctas{
  gap: var(--ap-cta-gap-main-sections);
}

.ap-homepod-ctas svg{
  fill: var(--ap-color-100);
}


/* End HomePod */


/* Promos Section*/

.ap-promos-section{
  grid-template-columns: repeat(2, 1fr);
  gap: .7em;
  padding: 0 .7em;
  margin-top: .7em;
}

  /* Watch */

.ap-watch{
  height: 36em;
  overflow: hidden;
}

.ap-watch-banner{
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900448/Apple%C2%B4s%20homepage%20project/apple_watch_series_8_e4ovaw.webp);
  background-size: cover;
  height: 100%;
  background-position: center;
  align-items: flex-start;
}

.ap-watch-information{
  flex-direction: column;
  margin-top: 4.6em;
  gap: .4em;
}

.ap-watch-information h4{
  color: var(--ap-color-050);
  letter-spacing: 0.1em;
  font-weight: var(--ap-font-weight-600);
  font-size: var(--ap-h4-fontsize-desktop);
}

.ap-watch-information-headline svg{
  fill: var(--ap-color-050);
}

.ap-watch-information-headline{
  gap: 3px;
}


.ap-watch-information h5{
  color: var(--ap-color-050);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-h5-fontsize-desktop);
}

.ap-watch-information p{
  color: var(--ap-color-extra);
  font-size: .8em;
  letter-spacing: .2em;
}


.ap-watch-information a{
  color: var(--ap-color-100);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-a-fontsize-promo-sections);
}

.ap-watch-ctas{
  gap: var(--ap-cta-gap-main-sections);
}

.ap-watch-ctas svg{
  fill: var(--ap-color-100);
}

  /* End Watch */

  /* Black Unity Watch */

  .ap-black-unity-watch{
    height: 36em;
    overflow: hidden;
  }
  
  .ap-black-unity-watch-banner{
    background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900449/Apple%C2%B4s%20homepage%20project/promo_black_unity_watch_gt8c6t.webp);
    background-size: cover;
    height: 100%;
    background-position: center;
    align-items: flex-start;
  }
  
  .ap-black-unity-watch-information{
    flex-direction: column;
    margin-top: 4.6em;
    gap: .4em;
    text-align: center;
  }
  
  .ap-black-unity-watch-information h4{
    color: var(--ap-color-050);
    font-weight: var(--ap-font-weight-600);
    font-size: var(--ap-h4-fontsize-desktop);
  }
  
  
  .ap-black-unity-watch-information h5{
    color: var(--ap-color-050);
    font-weight: var(--ap-font-weight-400);
    font-size: var(--ap-h5-fontsize-desktop);
  }
  
  .ap-black-unity-watch-information a{
    color: var(--ap-color-100);
    font-weight: var(--ap-font-weight-400);
    font-size: var(--ap-a-fontsize-promo-sections);
  }
  
  .ap-black-unity-watch-ctas{
    gap: var(--ap-cta-gap-main-sections);
  }
  
  .ap-black-unity-watch-ctas svg{
    fill: var(--ap-color-100);
  }
  
  
  /* End Black Unity Watch */

   /* Apple TV */

.ap-tv{
  height: 36em;
  overflow: hidden;
  text-align: center;
}

.ap-tv-banner{
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900449/Apple%C2%B4s%20homepage%20project/promo_timothee_chalamet__bd9sff.webp);
  background-size: cover;
  height: 100%;
  background-position: center;
  align-items: flex-end;
}

.ap-tv-information{
  flex-direction: column;
  margin-bottom: 2.5em;
  gap: 1.2em;
}

.ap-tv-information h4{
  color: var(--ap-color-050);
  letter-spacing: 0.1em;
  font-weight: var(--ap-font-weight-600);
  font-size: var(--ap-h4-fontsize-desktop);
}

.ap-tv-headline svg{
  fill: var(--ap-color-050);
}

.ap-tv-headline{
  gap: 3px;
}


.ap-tv-information h5{
  color: var(--ap-color-050);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-h5-fontsize-desktop);
}

.ap-tv-information a{
  color: var(--ap-color-100);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-a-fontsize-promo-sections);
}

.ap-tv-ctas{
  gap: var(--ap-cta-gap-main-sections);
}

.ap-tv-ctas svg{
  fill: var(--ap-color-100);
}


/* End Apple TV */


/* Valentine´s Day */

.ap-valentine-day{
      height: 36em;
      overflow: hidden;
}
    
.ap-valentine-day-banner{
      background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900449/Apple%C2%B4s%20homepage%20project/promo_valentines_day_2023__bqunia.webp);
      background-size: cover;
      height: 100%;
      background-position: center;
      align-items: flex-start;
}
    
.ap-valentine-day-information{
      flex-direction: column;
      margin-top: 4em;
      gap: .4em;
      text-align: center;
}
    
.ap-valentine-day-information h4{
      color: var(--ap-color-200);
      font-weight: var(--ap-font-weight-600);
      font-size: 2.5em;
}
    
    
.ap-valentine-day-information h5{
      color: var(--ap-color-200);
      font-weight: var(--ap-font-weight-400);
      font-size: var(--ap-h5-fontsize-desktop);
}
    
.ap-valentine-day-information a{
      color: var(--ap-color-100);
      font-weight: var(--ap-font-weight-400);
      font-size: var(--ap-a-fontsize-promo-sections);
}
    
    
/* End Valentine´s Day */
  
  
/* Fitness+ */

.ap-fitness{
  height: 36em;
  overflow: hidden;
}

.ap-fitness-banner{
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900448/Apple%C2%B4s%20homepage%20project/promo_apple_fitness_c9osx1.webp);
  background-size: cover;
  height: 100%;
  background-position: center;
  align-items: flex-start;
}

.ap-fitness-information{
  flex-direction: column;
  margin-top: 3em;
  gap: .4em;
  text-align: center;
}

.ap-fitness-information h4{
  color: var(--ap-color-200);
  font-weight: var(--ap-font-weight-600);
  font-size: var(--ap-h4-fontsize-desktop);
}

.ap-fitness-information-headline svg{
  fill: var(--ap-color-200);
}

.ap-fitness-information-headline{
  gap: 3px;
}


.ap-fitness-information h5{
  color: var(--ap-color-200);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-h5-fontsize-desktop);
}

.ap-fitness-information a{
  color: var(--ap-color-100);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-a-fontsize-promo-sections);
}

.ap-fitness-ctas{
  gap: var(--ap-cta-gap-main-sections);
}

.ap-fitness-ctas svg{
  fill: var(--ap-color-100);
}

/* End Fitness+ */


/* Apple Card */

.ap-card{
  height: 36em;
  overflow: hidden;
}

.ap-card-banner{
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1675900448/Apple%C2%B4s%20homepage%20project/apple_card_b9seqb.webp);
  background-size: cover;
  height: 100%;
  background-position: center;
  align-items: flex-start;
}

.ap-card-information{
  flex-direction: column;
  margin-top: 3em;
  gap: .4em;
  text-align: center;
}

.ap-card-information h4{
  color: var(--ap-color-200);
  font-weight: var(--ap-font-weight-600);
  font-size: var(--ap-h4-fontsize-desktop);
}

.ap-card-information-headline svg{
  fill: var(--ap-color-200);
}

.ap-card-information-headline{
  gap: 3px;
}


.ap-card-information h5{
  color: var(--ap-color-200);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-h5-fontsize-desktop);
}

.ap-card-information a{
  color: var(--ap-color-100);
  font-weight: var(--ap-font-weight-400);
  font-size: var(--ap-a-fontsize-promo-sections);
}

.ap-card-ctas{
  gap: var(--ap-cta-gap-main-sections);
}

.ap-card-ctas svg{
  fill: var(--ap-color-100);
}

/* End Apple Card */


/* End Promos Section*/




/* Carousel*/


.ap-carousel-section{
  height: 42em;
}

.ap-carousel {
  position: relative;
  margin-top: .7em;
}

.ap-carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.ap-carousel-open:checked + .ap-carousel-item {
  position: static;
  opacity: 100;
}

.ap-carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.3s ease-out;
}

.ap-carousel-item figure {
display: block;
height: auto;
max-width: 100%;
width: 100%;
padding-bottom: 41%;
}


.ap-carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.ap-carousel-indicators li {
  display: inline-block;
  margin: 0 5px;
}

.ap-carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2em;
}

.ap-carousel-bullet:hover {
  color: #aaaaaa;
}


.imagen-1 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831967/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/1_ylymsx.webp);
background-size: cover;
background-position: center;
}

.imagen-2 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831967/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/2_pjk4fx.webp);
background-size: cover;
background-position: center;
}

.imagen-3 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831968/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/3_frm8ir.webp);
background-size: cover;
background-position: center;
}

.imagen-4 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831967/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/4_wbvaz3.webp);
background-size: cover;
background-position: center;
}

.imagen-5 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831967/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/5_vyzwkn.webp);
background-size: cover;
background-position: center;
}

.imagen-6 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831968/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/6_1_cjz19o.webp);
background-size: cover;
background-position: center;
}

.imagen-7 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831968/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/7_gcl9wq.webp);
background-size: cover;
background-position: center;
}

.imagen-8 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831968/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/8_gc3ejj.webp);
background-size: cover;
background-position: center;
}

.imagen-9 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831968/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/9_auswa4.webp);
background-size: cover;
background-position: center;
}

.imagen-10 {
background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831966/Apple%C2%B4s%20homepage%20project/Carrusel%20PC/10_wgmeid.webp);
background-size: cover;
background-position: center;
}





/* End Carousel*/



@media screen and (max-width: 1068px){    /* Promos section changes img*/

   /* Watch*/

  .ap-watch{
    height: 30em;
    overflow: hidden;
  }

  .ap-watch-banner{
    background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676679694/Apple%C2%B4s%20homepage%20project/apple_watch_series_8_small_j7gq6v.webp);
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .ap-watch-information {
    margin-top: 2.5em;
  }

  .ap-watch-information p{
    font-size: .65em;
    letter-spacing: .17em;
  }
  
  
  .ap-watch-information h4{
    font-weight: var(--ap-font-weight-600);
    font-size: var(--ap-h4-fontsize-mobile);
  }

  .ap-watch-information-headline svg{
    height: 1.6em;
  }


/* End Watch */

   /* Black Unity Watch*/

   .ap-black-unity-watch{
    height: 30em;
    overflow: hidden;
  }

  .ap-black-unity-watch-banner{
    background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676681000/Apple%C2%B4s%20homepage%20project/promo_black_unity_watch_small_cnbu1z.webp);
    background-size: cover;
    height: 100%;
    background-position: center;
  }

  .ap-black-unity-watch-information {
    margin-top: 2.5em;
  }  
  
  .ap-black-unity-watch-information h4{
    font-weight: var(--ap-font-weight-600);
    font-size: var(--ap-h4-fontsize-mobile);
  }

  /* End Black Unity Watch */



  /*Apple TV*/

  .ap-tv{
    height: 30em;
    overflow: hidden;
  }

  /*End Apple TV*/

  /*Valentine´s Day*/

   .ap-valentine-day{
      height: 30em;
      overflow: hidden;
   }

   .ap-valentine-day-banner{
    background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676740604/Apple%C2%B4s%20homepage%20project/promo_valentines_day_2023_small_xuuqkl.webp);
    background-size: cover;
    height: 100%;
    background-position: center;
  }
    
  /*End Valentine´s Day*/



  /* Fitness+ */

  .ap-fitness{
    height: 30em;
    overflow: hidden;
  }

  .ap-fitness-banner{
    background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676740555/Apple%C2%B4s%20homepage%20project/promo_apple_fitness_small_aurhyg.webp);
    background-size: cover;
    height: 100%;
    background-position: center;
  }


  /* End Fitness+ */


  /* Apple Card */

  .ap-card{
    height: 30em;
    overflow: hidden;
  }

  .ap-card-banner{
    background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676742351/Apple%C2%B4s%20homepage%20project/apple_card_small_h5rfr3.webp);
    background-size: cover;
    height: 100%;
    background-position: center;
  }


  /* End Apple Card */

  
    


}




@media screen and (max-width: 1030px){

  .ap-header-layout,
  .ap-header-nav-ul{
    gap: 40px;                   /*Tricky adjust desktop version*/
  }

}
@media screen and (max-width: 980px){

  .ap-header-layout,
  .ap-header-nav-ul{
    gap: 35px;                   /*Tricky adjust desktop version*/
  }

}
@media screen and (max-width: 920px){

  .ap-header-layout,
  .ap-header-nav-ul{
    gap: 30px;                   /*Tricky adjust desktop version*/
  }

}
@media screen and (max-width: 870px){

  .ap-header-layout,
  .ap-header-nav-ul{
    gap: 27px;                   /*Tricky adjust desktop version*/
  }

}
/* Apple´s Breakpoint */
@media screen and (max-width: 833px){   /*Main Configuration of breakpoint*/

    /* Header */

    .desktop{
        display: none;
    }
    .mobile{
        display: inline-block;
    }

    .ap-header-layout{
      flex-wrap: wrap;
    }

    .ap-header-nav{              /*Tricky adjust*/
      position: relative;
      padding: 80px 0 0 35px;
      top: -80px;
      right: 20px;
    }

    .ap-header-nav-ul {                /*Tricky adjust*/
        flex-direction: column;
        margin: -15px 550px 100% 0;
        gap: 19px;
        align-items: flex-start;
    }

    .ap-hamburger-label{
        display: inline-block;
    }

    .ap-header-nav {
        display: none;
    }

    .ap-hamburger:checked ~ .ap-header-nav {
        display: block;
    }

    /* Animation of hamburger´s lines */

    .ap-hamburger:checked + .ap-hamburger-label .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .ap-hamburger:checked + .ap-hamburger-label .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }    

    /* Fin Animation of hamburger´s lines */

    .ap-logo{                   /*Tricky adjust*/
      position: relative;
      right: 340px;
      top: 1.7px;
    }

    .ap-shop{                    /*Tricky adjust*/
      position: relative;
      left: 315px;
      top: 2px;
    }

    .ap-search{                   /*Tricky adjust*/
      position: relative;
      left: 305px;
      top: 1.4px;
    }

    header a{
      font-size: var(--ap-size-text-navbar-responsive);
      font-weight: 600;
      letter-spacing: .007em;
    }

    /* End Header */
   


}
@media screen and (max-width: 810px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 515px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 310px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 295px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 280px;
    }

}

@media screen and (max-width: 768px){  /*Tablet*/


  
    .ap-header-nav-ul {                
        margin: -12px 490px 100% 0;
    }

    .ap-logo{                   
      right: 305px;
    }

    .ap-shop{                    
      left: 280px;
    }

    .ap-search{                   
      left: 270px;
    }


}

  @media screen and (max-width: 745px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 445px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 280px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 265px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 255px;
    }

  }
  @media screen and (max-width: 734px){       /* Changes Pictures*/

    /* Iphone 14 Pro*/

    .ap-iphone-14-pro{
      height: 34.5em;
    }

    .ap-iphone-14-pro-banner{
      background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676243645/Apple%C2%B4s%20homepage%20project/iphone_14_responsive_teys0t.webp);
      background-size: cover;
      height: 100%;
      background-position: center;
    }

    .ap-iphone-14-pro-information{
      margin-top: 4.9em;
      gap: .4em;
    }
    
    .ap-iphone-14-pro-information h2{
      font-size: var(--ap-h2-fontsize-mobile);
    }
    
    .ap-iphone-14-pro-information h3{
      font-size: var(--ap-h3-fontsize-mobile);
    }
    
    .ap-iphone-14-pro-information a{
      font-size: var(--ap-a-fontsize-main-sections-mobile);
    }
    
    .ap-iphone-ctas{
      gap: var(--ap-cta-gap-main-sections-mobile);
    }

    /* End Iphone 14 Pro*/



    /* Iphone 14 */

    .ap-iphone-14{
      height: 32em;
    }

    .ap-iphone-14-banner{
      background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676244717/Apple%C2%B4s%20homepage%20project/iphone_14_normal_responsive_krkj1z.webp);
      background-size: cover;
      height: 100%;
      background-position: center;
    }

    .ap-iphone-14-information{
      margin-top: 2.8em;
      gap: .4em;
    }
    
    .ap-iphone-14-information h2{
      font-size: var(--ap-h2-fontsize-mobile);
    }
    
    .ap-iphone-14-information h3{
      font-size: var(--ap-h3-fontsize-mobile);
    }
    
    .ap-iphone-14-information a{
      font-size: var(--ap-a-fontsize-main-sections-mobile);
    }
    
    .ap-iphone-ctas{
      gap: var(--ap-cta-gap-main-sections-mobile);
    }

    /* End Iphone 14 */


    /* HomePod */

    .ap-homepod{
      height: 30em;
      margin-top: 0.7em;
    }

    .ap-homepod-banner{
      background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676669043/Apple%C2%B4s%20homepage%20project/homepod_small_nwtmyy.webp);
      background-size: cover;
      height: 100%;
      background-position: center;
    }

    .ap-homepod-information{
      margin-top: 3.2em;
      gap: .4em;
    }
    
    .ap-homepod-information h2{
      font-size: var(--ap-h2-fontsize-mobile);
    }
    
    .ap-homepod-information h3{
      font-size: var(--ap-h3-fontsize-mobile);
    }
    
    .ap-homepod-information a{
      font-size: var(--ap-a-fontsize-main-sections-mobile);
    }
    
    .ap-homepod-ctas{
      gap: var(--ap-cta-gap-main-sections-mobile);
    }

    /* End HomePod */

    /* Promos Section*/

    .ap-promos-section{
      grid-template-columns: 1fr;
      padding: 0;
    }

    .ap-valentine-day-information{
      margin-top: 3em;
    }


/* End Promos Section*/


/* Carousel*/

.ap-carousel-item figure {
  padding-bottom: 70%;
}

.ap-carousel-indicators{
  bottom: 0%;
}

.ap-carousel-bullet {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.3em;
}

.ap-carousel-bullet:hover {
  color: #aaaaaa;
}

.imagen-1 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831948/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/1_rszrfr.webp);
  background-size: cover;
  background-position: center;
}
.imagen-2 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831948/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/2_hv49uj.webp);
  background-size: cover;
  background-position: center;
}
.imagen-3 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831949/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/3_qdbafn.webp);
  background-size: cover;
  background-position: center;
}

.imagen-4 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831949/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/4_vttmnz.webp);
  background-size: cover;
  background-position: center;
}

.imagen-5 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831948/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/5_fzvulx.webp);
  background-size: cover;
  background-position: center;
}

.imagen-6 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831950/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/6_qr65s9.webp);
  background-size: cover;
  background-position: center;
}

.imagen-7 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831949/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/7_ktkvvs.webp);
  background-size: cover;
  background-position: center;
}

.imagen-8 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831949/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/8_lbisq9.webp);
  background-size: cover;
  background-position: center;
}

.imagen-9 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831949/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/9_ip7awf.webp);
  background-size: cover;
  background-position: center;
}

.imagen-10 {
  background: url(https://res.cloudinary.com/dbinlquvz/image/upload/v1676831948/Apple%C2%B4s%20homepage%20project/Carrusel%20M%C3%B3vil/10_twg231.webp);
  background-size: cover;
  background-position: center;
}

};


/* End Carousel*/


 
  @media screen and (max-width: 695px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 395px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 260px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 245px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 235px;
    }

  }
  @media screen and (max-width: 655px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 355px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 240px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 225px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 215px;
    }

  }
  @media screen and (max-width: 615px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 312px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 220px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 205px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 195px;
    }

  }
  @media screen and (max-width: 580px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 280px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 200px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 185px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 175px;
    }

  }
  @media screen and (max-width: 535px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 235px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 170px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 155px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 145px;
    }

  }
  @media screen and (max-width: 475px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 170px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 140px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 125px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 115px;
    }

  }
  @media screen and (max-width: 420px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 122px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 110px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 95px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 85px;
    }

  }

  @media screen and (max-width: 375px){   /*Mobile*/

    .ap-header-nav{              
      padding: 60px 70px 100% 70px;    
    }

    .ap-header-nav-ul {                
      margin: 10px 57px 0 0;
  }

    .ap-logo{                  
      right: 110px;
    }

    .ap-shop{                    
      left: 85px;
    }

    .ap-search{                   
      left: 80px;
    }


  }

  @media screen and (max-width: 350px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 50px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 80px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 75px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 65px;
    }

  }
  @media screen and (max-width: 300px){

    .ap-header-nav-ul {                /*Tricky adjust*/
      margin: -12px 0px 100% 0;
    }

    .ap-logo{                   /*Tricky adjust*/
      right: 50px;
    }

    .ap-shop{                    /*Tricky adjust*/
      left: 45px;
    }

    .ap-search{                   /*Tricky adjust*/
      left: 35px;
    }

  }