/* Global Styles */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* LAYOUT */
.ap-layout-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ap-layout-grid {
    display: grid;
  }
  /* END LAYOUT */

  .ap-hamburger-label,
  .ap-hamburger {
    display: none;
  }

  .mobile {
    display: none;
  }




/* Lineas hamburguesa */

.hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: red;
  }


  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }


  .hamburger-lines .line2 {
    transition: transform 0.1s ease-in-out;
  }


  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }


/* Fin lineas hamburguesa */



  @media screen and (max-width: 48rem){

    .desktop{
        display: none;
    }
    .mobile{
        display: inline-block;
    }

    .ap-header-nav-ul {
        flex-direction: column;
    }

    .ap-hamburger-label{
        display: inline-block;
    }

    .ap-header-nav {
        display: none;
    }

    .ap-hamburger:checked ~ .ap-header-nav {
        display: block;
    }

    .ap-header-nav-ul {
        flex-direction: column;
    }

    /* Animación lineas hamburgesa */

    .ap-hamburger:checked + .ap-hamburger-label .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    /* Fin Animación lineas hamburgesa */


  }